<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" th:href="@{/images/cultuurhuis.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>


<nav th:fragment="navigatie" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <ul>
        <li><a th:href="@{/}"> Voorstellingen</a></li>
        <li><a th:href="@{/mand}">Mandje</a></li>
        <li th:if="${mandsize > 0}"  ><a th:href="@{/mand/bevestigen}">Bevestigen</a></li>
        <li  sec:authorize="isAnonymous()"  ><a th:href="@{/login}">Aanmelden</a></li>
        <li sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <span sec:authentication="name"></span>
                <input type="submit" value="Afmelden">
            </form>
        </li>
    </ul>
</nav>